.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.domain-card {
  display: flex;
}

.time {
  color: #64748b;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-left: 15px;
}

.domain-url {
  height: 30px;
  width: 30px;
  margin-left: 40px;
}

.domain {
  color: #64748b;
  font-size: 10px;
  font-weight: normal;
  font-family: 'Roboto';
  margin-left: 15px;
}

.delete-button {
  border: none;
  background-color: transparent;
}
